{{ ansible_managed | comment }}
---
version: "3.3"

networks:
  {{ app_network }}:
    external: true

services:
  wud:
    image: "{{ app_image }}"
    hostname: "{{ app_name }}"
    init: true
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      PUID: {{ app_uid }}
      PGID: {{ app_gid }}
      TZ: {{ app_timezone }}
{% for app_environment in app_environment_variables %}
      {{ app_environment }}
{% endfor %}
    networks:
      - {{ app_network }}
{% if wud_docker_ports and wud_docker_ports | length %}
    ports:
{% for app_port in app_ports %}
      - {{ app_port }}
{% endfor %}
{% endif %}
{% if wud_docker_labels and wud_docker_labels | length %}
    labels:
{% for wud_docker_label in wud_docker_labels %}
      - "{{ wud_docker_label }}"
{% endfor %}
{% endif %}
